<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>ReviewFilter</filter-name>
  	<display-name>ReviewFilter</display-name>
  	<description></description>
  	<filter-class>com.chain.triangleView.filter.ReviewFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>ReviewFilter</filter-name>
  	<url-pattern>*.sr</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>MainLogoutReviewSelect</servlet-name>
  	<display-name>MainLogoutReviewSelect</display-name>
  	<description></description>
  	<servlet-class>com.chain.triangleView.review.controller.MainLogoutReviewSelect</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutMainReviewSelectService</servlet-name>
  	<display-name>LogoutMainReviewSelectService</display-name>
  	<description></description>
  	<servlet-class>com.chain.triangleView.review.controller.LogoutMainReviewSelectService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logoutMainReviewSelectService</servlet-name>
  	<display-name>logoutMainReviewSelectService</display-name>
  	<description></description>
  	<servlet-class>com.chain.triangleView.review.controller.logoutMainReviewSelectService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loadOneReviewForm</servlet-name>
  	<display-name>loadOneReviewForm</display-name>
  	<description></description>
  	<servlet-class>com.chain.triangleView.review.controller.loadOneReviewForm</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchReviewServlet</servlet-name>
  	<display-name>SearchReviewServlet</display-name>
  	<description></description>
  	<servlet-class>com.chain.triangleView.review.controller.SearchReviewServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginMainServlet</servlet-name>
  	<display-name>LoginMainServlet</display-name>
  	<description></description>
  	<servlet-class>com.chain.triangleView.member.controller.LoginMainServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReSearchReviewServlet</servlet-name>
  	<display-name>ReSearchReviewServlet</display-name>
  	<description></description>
  	<servlet-class>com.chain.triangleView.review.controller.ReSearchReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>logoutMainReviewSelectService</servlet-name>
  	<url-pattern>/logoutMain.rl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loadOneReviewForm</servlet-name>
  	<url-pattern>/loadOneReviewForm.rf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchReviewServlet</servlet-name>
  	<url-pattern>/searchReview.sr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginMainServlet</servlet-name>
  	<url-pattern>/loginMain</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReSearchReviewServlet</servlet-name>
  	<url-pattern>/reSearchReview.sr</url-pattern>
  </servlet-mapping>
</web-app>
