<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
   <display-name>Archetype Created Web Application</display-name>
   <filter>
      <filter-name>ReviewFilter</filter-name>
      <display-name>ReviewFilter</display-name>
      <description></description>
      <filter-class>com.chain.triangleView.filter.ReviewFilter</filter-class>
   </filter>
   <filter-mapping>
      <filter-name>ReviewFilter</filter-name>
      <url-pattern>*.sr</url-pattern>
   </filter-mapping>
   <servlet>
      <servlet-name>MainLogoutReviewSelect</servlet-name>
      <display-name>MainLogoutReviewSelect</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.review.controller.MainLogoutReviewSelect</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>LogoutMainReviewSelectService</servlet-name>
      <display-name>LogoutMainReviewSelectService</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.review.controller.LogoutMainReviewSelectService</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>logoutMainReviewSelectService</servlet-name>
      <display-name>logoutMainReviewSelectService</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.review.controller.logoutMainReviewSelectService</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>loadOneReviewForm</servlet-name>
      <display-name>loadOneReviewForm</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.review.controller.loadOneReviewForm</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>SearchReviewServlet</servlet-name>
      <display-name>SearchReviewServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.review.controller.SearchReviewServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>LoginMainServlet</servlet-name>
      <display-name>LoginMainServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.member.controller.LoginMainServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ReSearchReviewServlet</servlet-name>
      <display-name>ReSearchReviewServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.review.controller.ReSearchReviewServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>SNScheckServlet</servlet-name>
      <display-name>SNScheckServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.SNS.controller.SNScheckServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>SNScheck</servlet-name>
      <display-name>SNScheck</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.SNS.controller.SNScheck</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>SNSServlet</servlet-name>
      <display-name>SNSServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.SNS.controller.SNSServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>insertWrite2Servlet</servlet-name>
      <display-name>insertWrite2Servlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.review.controller.insertWrite2Servlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>insertWrite3Servlet</servlet-name>
      <display-name>insertWrite3Servlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.review.controller.insertWrite3Servlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>findIdServlet</servlet-name>
      <display-name>findIdServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.member.controller.findIdServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>sendVerifyServlet</servlet-name>
      <display-name>sendVerifyServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.email.controller.sendVerifyServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>nickCheckServlet</servlet-name>
      <display-name>nickCheckServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.member.controller.nickCheckServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>sendPassServlet</servlet-name>
      <display-name>sendPassServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.email.controller.sendPassServlet</servlet-class>
   </servlet>
   <servlet>
        <servlet-name>CrollingAndNLPServlet</servlet-name>
        <display-name>CrollingAndNLPServlet</display-name>
        <description></description>
        <servlet-class>com.chain.triangleView.review.controller.CrollingAndNLPServlet</servlet-class>
   </servlet>
  <servlet>
      <servlet-name>sendNewPassServlet</servlet-name>
        <display-name>sendNewPassServlet</display-name>
        <description></description>
        <servlet-class>com.chain.triangleView.email.controller.sendNewPassServlet</servlet-class>
  </servlet>
   <servlet>
      <servlet-name>selectNoticeServlet</servlet-name>
      <display-name>selectNoticeServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.notice.controller.selectNoticeServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>MyHomeServlet</servlet-name>
      <display-name>MyHomeServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.userHome.contoller.MyHomeServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>UserHomeServlet</servlet-name>
      <display-name>UserHomeServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.userHome.contoller.UserHomeServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>AddCommentServlet</servlet-name>
      <display-name>AddCommentServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.review.controller.AddCommentServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>insertWrite1Servlet</servlet-name>
      <display-name>insertWrite1Servlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.review.controller.insertWrite1Servlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>UserFollowFalse</servlet-name>
      <display-name>UserFollowFalse</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.member.controller.UserFollowFalse</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>UserFollowTrue</servlet-name>
      <display-name>UserFollowTrue</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.member.controller.UserFollowTrue</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>FollowUserListServlet</servlet-name>
      <display-name>FollowUserListServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.member.controller.FollowUserListServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>FollowingUserListServlet</servlet-name>
      <display-name>FollowingUserListServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.member.controller.FollowingUserListServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>CloudTagServlet</servlet-name>
      <display-name>CloudTagServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.review.controller.CloudTagServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>HotTagServlet</servlet-name>
   	<display-name>HotTagServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.hottag.controller.HotTagServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>LoginHotReveiwServlet</servlet-name>
   	<display-name>LoginHotReveiwServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.review.controller.LoginHotReveiwServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>logoutMainReviewSelectService</servlet-name>
      <url-pattern>/logoutMain.rl</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>loadOneReviewForm</servlet-name>
      <url-pattern>/loadOneReviewForm.rf</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>SearchReviewServlet</servlet-name>
      <url-pattern>/searchReview.sr</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>LoginMainServlet</servlet-name>
      <url-pattern>/loginMain</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ReSearchReviewServlet</servlet-name>
      <url-pattern>/reSearchReview.sr</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>SNSServlet</servlet-name>
      <url-pattern>/snscheck.sns</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>insertWrite2Servlet</servlet-name>
      <url-pattern>/insertWrite2.bo</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>insertWrite3Servlet</servlet-name>
      <url-pattern>/insertWrite3.bo</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>findIdServlet</servlet-name>
      <url-pattern>/findId.no</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>sendVerifyServlet</servlet-name>
      <url-pattern>/sendVerify.no</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>nickCheckServlet</servlet-name>
      <url-pattern>/nickCheck.do</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>sendPassServlet</servlet-name>
      <url-pattern>/sendPass.no</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>CrollingAndNLPServlet</servlet-name>
      <url-pattern>/crolling</url-pattern>
   </servlet-mapping>
  <servlet-mapping>
        <servlet-name>sendNewPassServlet</servlet-name>
        <url-pattern>/sendNewPass.no</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
      <servlet-name>selectNoticeServlet</servlet-name>
      <url-pattern>/selectNoticeServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>MyHomeServlet</servlet-name>
      <url-pattern>/myHome</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>UserHomeServlet</servlet-name>
      <url-pattern>/userHome</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>AddCommentServlet</servlet-name>
      <url-pattern>/addComment</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>insertWrite1Servlet</servlet-name>
      <url-pattern>/insertWrite1.bo</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>UserFollowFalse</servlet-name>
      <url-pattern>/followFalse</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>UserFollowTrue</servlet-name>
      <url-pattern>/followTrue</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>FollowUserListServlet</servlet-name>
      <url-pattern>/followUserList</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>FollowingUserListServlet</servlet-name>
      <url-pattern>/followingUserList</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>CloudTagServlet</servlet-name>
      <url-pattern>/cloudTag.sr</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>HotTagServlet</servlet-name>
   	<url-pattern>/hottag</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>LoginHotReveiwServlet</servlet-name>
   	<url-pattern>/loginHotReview</url-pattern>
   </servlet-mapping>
   </web-app>